/**
 * overwrite CSS rules for this template
 */

.header h1.logo a {
  background:transparent url('/img/logo-white-header.png') no-repeat left center;
  background-size:131.5px 24px;
  width:132px;
}

.header.scrolled h1.logo a {
  background:transparent url('/img/logo-solid-header.png') no-repeat left center;
  background-size:131.5px 24px;
  width:132px;
}
.hero-logo { opacity:0.8; }
@media (max-width: 767px) {
  .hero-logo { width:300px; }
}
@media (min-width: 768px) {
  .hero-logo { width:480px; }
}
@media (min-width: 992px) {
  .hero-logo { width:600px; }
}

a i.fa-facebook-square { color:#3B5998; }
a i.fa-twitter { color:#00aced; }
a i.fa-instagram { color:#125688; }
a i.fa-pinterest { color:#cb2027; }
